/* .box {
  border: 5px solid red;
  border-radius: 10px 20px 30px 0;
} */

/* .box {
  width: 300px;
  height: 200px;
  background: red;
  border-radius: 5%;
} */

.box {
  width: 300px;
  height: 150px;
  background: red;
  border-radius: 9999px;
}
